@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-reset {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-reset {
  animation: slide-reset 1.5s ease-in-out infinite;
}